body {
    background-image: url(game_imgs/background-with-night-city-neon-lights.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

}


.game {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}

.game canvas{
    border: 1px solid;
}

.game-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}


.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 77px;
    position: absolute;
    padding: 5px;
}

.links img{
    width: 42px;
    height: 42px;
}

#start {
    font-size: 23px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    background: grey;
    margin-right: 20%;

}

.fuel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    width: 30%;
    height: 100%;
    margin-left: 2px;
  
}
.game-lives{
    margin-right: 2px;
}   
.fuel-meter {
    width: 100%;
    height: inherit;
    background-color: rgb(96, 225, 96);
}
.fuel-under {
    height: 30px;
    width: 100%;
    background-color: red; 
    border: 1px solid;
}

p {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
}